@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&family=Spartan:wght@400;600&display=swap');

/* .App {
    width : 98%;
} */
#header{
  padding: 40px 20px 0px 20px;
}

#wrapper{
    display: grid;
    grid-template-rows:  1fr auto;
    grid-gap: 20px;

    padding: 30px;
    background: #F4F4F4;
}

#header img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 80px;
    width: 130px;
}
/* Handle on hover */
/* #input::-webkit-scrollbar-thumb:hover {


} */

/* .changeButtons{
  visibility: hidden;
}

.changeButtons:hover{
  visibility: visible;
} */

/* .apis{
    width:480px;
} */
